.btn {
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: var(--rounded-sm);
  padding: 5px 15px;
  cursor: pointer;
}

.btn-close-modal {
  background: var(--color-light);
  color: var(--color-dark);
}

.btn-submit-auth {
  width: 100%;
  padding: 16px 0;
  font-size: var(--font-size-xl);
}

.btn-action-signup,
.btn-action-signin {
  width: 100%;
  padding: 16px;
  color: var(--color-light);
  font-size: var(--font-size-lg);
  background-color: transparent;
  border-radius: var(--rounded-sm);
  cursor: pointer;
  transition: 0.4s;
  font-family: var(--font-primary);
}

.btn-confirm {
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: var(--rounded-sm);
  cursor: pointer;
  padding: 10px 40px;
  width: 160px;
}

.btn-confirm:not(:last-child) {
  margin-right: 10px;
}

.btn-confirm:first-child {
  background-color: var(--color-btn-confirm-cancel);
  color: var(--color-dark);
  border: 1px solid var(--color-btn-confirm-cancel);
}

.btn-confirm:last-child {
  background-color: var(--color-danger);
}

.btn-close {
  position: absolute;
  cursor: pointer;
  background: var(--color-light);
  color: var(--color-dark);
  top: 0;
  right: 0;
}

.btn:focus-visible {
  outline: auto;
}

@media (min-width: 992px) {
  .btn-confirm,
  .btn {
    font-size: var(--font-size-2xl);
  }
}
