.form-modal {
  margin-top: 14px;
  gap: 16px;
}

.form-input {
  color: var(--color-tertiary);
  font-size: var(--font-size-sm);
  padding: 11px 0 9px 12px;
  border: 1px solid var(--color-border);
  border-radius: var(--rounded-sm);
}

.form-input::placeholder {
  color: var(--color-tertiary);
}

.phone-number-input {
  width: 50%;
  margin-right: 19px;
}

.form-input-select {
  color: var(--color-tertiary);
  font-size: var(--font-size-sm);
  border: 1px solid var(--color-border);
  border-radius: var(--rounded-sm);
  width: 100%;
  padding: 9px 12px;
}

.form-input-select:focus-visible {
  outline: none;
}

.btn-group {
  margin-top: 24px;
  gap: 20px;
}

.form-select {
  width: 50%;
}

.form-group {
  gap: 20px;
}

/* Form authen  */
.form-auth {
  outline: none;
  border: none;
  width: 100%;
}

.input-auth {
  font-family: var(--font-primary);
  display: block;
  font-size: var(--font-size-md);
}

.input-auth::placeholder {
  font-family: var(--font-primary);
  color: var(--color-tertiary);
}

.input-group {
  margin: 0px auto 50px;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
}

.form-input-error {
  border: 1px solid var(--color-danger);
}
