.loading-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-md);
  background-color: var(--color-overlay);
}

.loading-indicator {
  border: 8px solid var(--color-tertiary);
  border-top: 8px solid var(--color-primary);
  border-radius: var(--rounded-circle);
  width: 40px;
  height: 40px;
  animation: spin 0.75s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
