.ads-section {
  padding: 36px 15px;
  box-shadow: -10px 0px 15px 0px var(--color-box-sadow);
  z-index: var(--z-index-md);
}

.ads-heading {
  font-size: var(--font-size-2xl);
  color: var(--color-dark);
}

.btn-search {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 8px;
  width: 30px;
}

.ads-search {
  padding-right: 10px;
  background: var(--color-light);
  border-radius: var(--rounded-tiny);
  border: 1px solid var(--color-border-search);
}

.input-search::placeholder {
  color: var(--color-tertiary);
}

.nav-list {
  margin-top: 28px;
  gap: 8px;
  border-bottom: 1px solid var(--color-border-horizontal);
}

.nav-item {
  padding-bottom: 19px;
}

.nav-list li a {
  font-size: var(--font-size-xs);
  color: var(--color-dark);
}

.nav-list li:nth-child(1) a,
.nav-list li:nth-child(7) a,
.nav-list li:nth-child(8) a {
  color: var(--color-tertiary);
}

.nav-list li:nth-child(6) {
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 19px;
}

.ads-content {
  margin-top: 36px;
}

.btn-add {
  border: 1px solid var(--color-primary);
  color: var(--color-light);
  background-color: var(--color-primary);
  font-size: var(--font-size-xl);
  padding: 8px 10px;
  gap: 5px;
}

.table-cell {
  margin: 5px 0;
}

.thead li {
  text-align: center;
  color: var(--color-tertiary);
  padding-bottom: 19px;
  font-size: var(--font-size-sm);
  padding-right: 18px;
  position: relative;
}

.thead li:nth-child(5) {
  margin-right: 32px;
}

.ads-dasboard-item {
  font-size: var(--font-size-xs);
  padding-top: 20px;
  padding-bottom: 20px;
  width: calc(100% / 5);
}

.thead {
  width: 100%;
}

.tbody {
  width: 100%;
}

.table-row {
  border-bottom: 1px solid var(--color-border-horizontal);
}

.ads-status-tag {
  color: var(--color-light);
  border: 1px solid var(--color-secondary);
  background: var(--color-secondary);
  border-radius: var(--rounded-xs);
  max-width: 100%;
  height: 15px;
  padding: 5px 8px;
  width: 50px;
}

.ads-network-text,
.ads-link,
.ads-status-text,
.ads-email,
.ads-phone-number {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60px;
  overflow: hidden;
}

.ads-email,
.ads-phone-number {
  display: inline-block;
  max-width: 65px;
  color: var(--color-dark);
}

.ads-link {
  color: var(--color-ads-link);
  display: inline-block;
}

.btn-dropdown {
  background-color: transparent;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px var(--color-box-shadow-dropdown);
  z-index: var(--z-index-lg);
}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
}

.ads-status-active {
  background: var(--color-status-active);
  border: 1px solid var(--color-status-active);
}

.ads-status-paused {
  background: var(--color-secondary);
}

.ads-dashboard-content {
  margin-top: 30px;
}

.btn-clear-search {
  display: none;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 10px;
  color: var(--color-btn-add);
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font-size-xl);
}

.search-result-message {
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
  color: var(--color-tertiary);
}

.error-message-form {
  color: var(--color-danger);
  font-size: var(--font-size-xs);
  padding: 10px 8px;
}

@media (min-width: 768px) {
  .ads-search {
    width: 245px;
  }

  .nav-list li a {
    font-size: var(--font-size-md);
  }

  .ads-dashboard-heading {
    font-size: var(--font-size-xl);
  }

  .thead li {
    padding: 10px 0;
    font-size: var(--font-size-md);
  }

  .table-cell {
    padding: 10px 0;
  }

  .ads-title-network {
    padding-left: 0;
  }

  .ads-dasboard-item {
    font-size: var(--font-size-md);
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .ads-link {
    font-size: var(--font-size-sm);
    color: var(--color-ads-link);
    margin-top: 3px;
  }

  .ads-status-tag {
    font-size: var(--font-size-xs);
    width: 70px;
    padding: 5px 15px;
    height: 27px;
  }

  .ads-network-text,
  .ads-link,
  .ads-status-text {
    max-width: 90px;
  }

  .dropdown-content button {
    padding: 8px 10px;
  }

  .ads-email,
  .ads-phone-number {
    max-width: 100%;
  }

  .search-result-message {
    font-size: var(--font-size-4xl);
    padding: 50px 0;
  }

  .btn-add {
    font-size: var(--font-size-2xl);
    padding: 13px 22px 12px;
    width: 120px;
  }

  .add-icon {
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 992px) {
  .main-content {
    flex-direction: row;
  }

  .ads-section {
    width: var(--width-ads-section-lg);
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav-list {
    justify-content: flex-start;
    gap: 35px;
  }

  .ads-dashboard-content {
    margin-top: 50px;
  }

  .ads-dashboard-heading {
    font-size: var(--font-size-2xl);
  }

  .thead {
    justify-content: flex-start;
  }

  .thead li {
    width: 20%;
    text-align: unset;
  }

  .thead li:nth-child(5) {
    position: absolute;
  }

  .table-row {
    justify-content: flex-start;
    gap: 45px;
  }

  .dropdown-group {
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1200px) {
  .ads-section {
    width: var(--width-ads-section-xl);
    padding-left: 60px;
    padding-right: 60px;
  }

  .dropdown-content {
    left: -15px;
  }
}
