.dashboard-heading {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.dashboard-section {
  z-index: var(--z-index-md);
  padding: 36px 15px;
}

.select-filter {
  max-width: 132px;
  position: relative;
}

.select-filter select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.arrow-icon {
  position: absolute;
  top: 41%;
  right: 38px;
  cursor: pointer;
}

.dashboard-search {
  background: var(--color-search);
  border: 1px solid var(--color-search);
  width: 100%;
  padding: 12px;
}

.input-search {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  background: var(--color-search);
  color: var(--color-placeholder);
}

.input-search::placeholder {
  color: var(--color-placeholder);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  background: var(--color-search);
}

.dashboard-header {
  margin-bottom: 28px;
}

.table-cell {
  margin: 5px 0;
}

.thead li {
  color: var(--color-tertiary);
  padding-bottom: 16px;
  padding-top: 16px;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-family: var(--font-bold);
  position: relative;
  width: calc(100% / 6);
}

.thead li:nth-child(6) {
  display: none;
}

.dasboard-item {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  padding-top: 12px;
  padding-bottom: 12px;
  width: calc(100% / 6);
}

.thead {
  width: 100%;
}

.tbody {
  width: 100%;
}

.table-row {
  border-bottom: 1px solid var(--color-border-horizontal);
}

.name-item,
.subject-item,
.class-item,
.email-item,
.gender-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60px;
  overflow: hidden;
}

.email-item,
.class-item,
.gender-item {
  display: inline-block;
  max-width: 65px;
  color: var(--color-dark);
}

.btn-dropdown {
  background-color: transparent;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px var(--color-box-shadow-dropdown);
  z-index: var(--z-index-lg);
}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
}

.dashboard-content {
  margin-top: 30px;
  width: 100%;
  overflow-x: auto;
}

.table-container {
  width: 1039px;
  border-collapse: collapse;
}

.avatar-item {
  margin-right: 8px;
}

/* Large devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .dashboard-search {
    padding: 16px;
  }

  .table-cell {
    padding: 10px 0;
  }

  .name-item,
  .subject-item {
    max-width: 90px;
  }

  .dropdown-content button {
    padding: 8px 10px;
  }

  .email-item,
  .class-item,
  .gender-item {
    max-width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .dashboard-section {
    width: var(--width-dashboard-section-lg);
    padding: 60px 30px 30px 30px;
  }

  .dashboard-content {
    margin-top: 50px;
  }

  .thead {
    justify-content: flex-start;
  }

  .thead li {
    width: calc(100% / 6);
    text-align: unset;
  }

  .thead li:nth-child(6) {
    position: absolute;
  }

  .table-row {
    justify-content: flex-start;
    gap: 29px;
  }

  .dropdown-group {
    position: absolute;
    right: 0;
  }

  .dashboard-content {
    overflow: hidden;
  }

  .table-container {
    width: 100%;
    border-collapse: unset;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .dashboard-section {
    width: var(--width-dashboard-section-xl);
    padding: 85px 54px 42px 54px;
  }

  .dropdown-content {
    left: -15px;
  }
}
