.dashboard-heading {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.dashboard-section {
  z-index: var(--z-index-md);
  padding: 36px 15px;
}

.select-filter {
  width: 132px;
  position: relative;
}

.select-filter select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.arrow-icon {
  position: absolute;
  top: 41%;
  right: 15px;
  cursor: pointer;
}

.dashboard-search {
  background: var(--color-search);
  border: 1px solid var(--color-search);
  width: 100%;
  padding: 12px;
}

.input-search {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  background: var(--color-search);
  color: var(--color-placeholder);
}

.input-search::placeholder {
  color: var(--color-placeholder);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  background: var(--color-search);
}

.dashboard-header {
  margin-bottom: 28px;
}

.table-cell {
  margin: 5px 0;
}

.thead li {
  color: var(--color-tertiary);
  padding-bottom: 16px;
  padding-top: 16px;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-family: var(--font-bold);
  position: relative;
  width: calc(100% / 6);
}

.thead li:nth-child(6) {
  display: none;
}

.dashboard-item {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  padding-top: 12px;
  padding-bottom: 12px;
  width: calc(100% / 6);
}

.thead {
  width: 100%;
}

.tbody {
  width: 100%;
}

.table-row {
  border-bottom: 1px solid var(--color-border-horizontal);
  cursor: pointer;
}

.name-item,
.subject-item,
.class-item,
.email-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80px;
  overflow: hidden;
}

.email-item,
.class-item {
  display: inline-block;
  max-width: 90px;
}

.btn-dropdown {
  background-color: transparent;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px var(--color-box-shadow-dropdown);
  z-index: var(--z-index-lg);
  background: var(--color-light);
  right: 0;
  top: 0;
}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
}

.dashboard-content {
  margin-top: 30px;
  width: 100%;
  overflow-x: auto;
}

.table-container {
  width: 1039px;
  border-collapse: collapse;
}

.detail-avatar,
.avatar-item {
  margin: 0 8px;
  border-radius: var(--rounded-circle);
}

.error-message-form {
  color: var(--color-danger);
  font-size: var(--font-size-xs);
  padding-top: 10px;
}

.tablet-no-data {
  color: var(--color-dark);
  min-height: 419px;
  gap: 5px;
  background-color: var(--color-tablet-empty);
}

.tablet-no-data h3 {
  font-family: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.tablet-no-data p {
  font-family: var(--font-weight-medium);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.filter-no-results,
.search-result-message {
  font-family: var(--font-bold);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  text-align: center;
  color: var(--color-input);
  padding: 20px 0;
}

.detail-info-student {
  padding-top: 85px;
}

.detail-info-content {
  color: var(--color-detail-info);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  padding: 0 20px;
}

.detail-id {
  color: var(--color-tertiary);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  margin-bottom: 12px;
}

.detail-name {
  font-family: var(--font-bold);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  margin: 20px 0;
}

.detail-item {
  font-family: var(--font-medium);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  color: var(--color-detail-text);
  margin-bottom: 20px;
}

.detail-label {
  font-family: var(--font-semibold);
  margin-bottom: 5px;
}

.detail-group {
  margin-bottom: 20px;
}

.detail-contact {
  gap: 15px;
  margin-bottom: 47px;
}

.detail-contact-item {
  background-color: var(--color-border);
  border: 1px solid var(--color-border);
  width: 36px;
  height: 36px;
  border-radius: var(--rounded-sm);
}

.dashboard-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.detail-avatar {
  margin-right: 0;
}

.btn-modal-group {
  margin-top: 30px;
  justify-content: center;
}

.dropdown-group {
  width: calc(100% / 6);
  display: flex;
  justify-content: end;
}

.gender-item {
  width: 42px;
}

.detail-same-class {
  font-size: var(--font-semibold);
  margin-top: 26px;
  margin-bottom: 17px;
}

.detail-more {
  color: var(--color-primary);
}

.subject-select-icon {
  top: 40px;
}

.error-border {
  border: 1px solid var(--color-danger);
}

/* Large devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .dashboard-search {
    padding: 16px;
  }

  .table-cell {
    padding: 10px 0;
  }

  .name-item,
  .subject-item {
    max-width: 90px;
  }

  .dropdown-content button {
    padding: 8px 10px;
  }

  .email-item,
  .class-item {
    max-width: 100%;
  }

  .filter-no-results,
  .search-result-message {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    padding: 50px 0;
  }

  .arrow-icon {
    right: 30px;
  }

  .btn-modal-group {
    margin-top: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .dashboard-section {
    width: var(--width-dashboard-section-lg);
    padding: 60px 30px 30px 30px;
  }

  .dashboard-content {
    margin-top: 50px;
  }

  .thead {
    justify-content: flex-start;
  }

  .thead li {
    width: calc(100% / 6);
    text-align: unset;
  }

  .thead li:nth-child(6) {
    position: absolute;
  }

  .table-row {
    justify-content: flex-start;
    gap: 29px;
  }

  .dropdown-group {
    position: absolute;
    right: 0;
  }

  .student-list-wrapper,
  .dashboard-content {
    overflow: hidden;
  }

  .table-container {
    width: 100%;
    border-collapse: unset;
  }

  .student-list-wrapper {
    width: calc(100% - 200px);
  }

  .detail-info-student {
    width: 200px;
  }

  .student-table {
    gap: 15px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .dashboard-section {
    width: var(--width-dashboard-section-xl);
    padding: 85px 36px 42px 36px;
  }

  .dropdown-content {
    left: -38px;
    top: 0;
  }
}

/* X-Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .detail-info-content {
    padding: 0 39px;
  }

  .student-list-wrapper {
    width: calc(100% - 313px);
  }

  .detail-info-student {
    width: 313px;
  }

  .detail-avatar {
    width: 180px;
    height: 180px;
  }
}
