.btn {
  font-family: var(--font-semibold);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: var(--rounded-sm);
  padding: 12px 14px;
  cursor: pointer;
}

.btn-close-modal {
  background: var(--color-light);
  color: var(--color-dark);
}

.btn-confirm {
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  color: var(--color-light);
  border-radius: var(--rounded-sm);
  cursor: pointer;
  padding: 10px 40px;
  width: 160px;
}

.btn-confirm:not(:last-child) {
  margin-right: 10px;
}

.btn-confirm:first-child {
  background-color: var(--color-btn-cancel);
  color: var(--color-dark);
  border: 1px solid var(--color-btn-cancel);
}

.btn-confirm:last-child {
  background-color: var(--color-danger);
}

.btn-close {
  position: absolute;
  cursor: pointer;
  background: var(--color-light);
  color: var(--color-dark);
  top: 0;
  right: 0;
}

.btn:focus-visible {
  outline: auto;
}

.btn-disabled {
  background-color: var(--color-bg-disable);
  color: var(--color-text-disable);
  border-color: var(--color-border-disable);
}

.btn-search {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-right: 16px;
  width: 16px;
}

.btn-clear-search {
  display: none;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font-size-md);
  line-height: var(--line-height-sm);
  color: var(--color-tertiary);
}

.btn-submit,
.btn-cancel-modal {
  width: 131px;
}

.btn-cancel-modal {
  background-color: var(--color-btn-cancel);
  color: var(--color-dark);
  margin-left: 10px;
}
