.form-modal {
  margin-top: 14px;
  gap: 16px;
}

.form-input {
  color: var(--color-input);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  padding: 11px 0 9px 12px;
  border: 1px solid var(--color-input);
  border-radius: var(--rounded-xs);
}

.form-input-select {
  color: var(--color-input-select);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  border: 1px solid var(--color-input);
  border-radius: var(--rounded-xs);
  width: 100%;
  padding: 16px;
  cursor: pointer;
}

.form-input-select:focus-visible {
  outline: none;
}

.form-select {
  width: 50%;
}

.form-group {
  gap: 20px;
}

.form-select-filter {
  border: none;
  padding: 0;
}
