.toast {
  position: fixed;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  background-color: var(--color-bg-toast);
  border: 1px solid var(--color-border-toast);
  box-shadow: 0px 8px 16px 0px var(--color-box-shadow-toast);
  border-radius: var(--rounded-xs);
  padding: 12px 40px;
  gap: 15px;
  z-index: var(--z-index-lg);
}

.toast-text {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  color: var(--color-tertiary);
}

.toast-text-success {
  color: var(--color-primary);
}

.toast-text-error {
  color: var(--color-danger);
}
