:root {
  /* color */
  --color-primary: #018273;
  --color-secondary: #ffaf0b;
  --color-tertiary: #95969b;
  --color-dark: #191c23;
  --color-light: #fff;
  --color-email: #657795;
  --color-status-active: #008274;
  --color-danger: #dc3545;
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-input-placeholder: #222b45;
  --color-border: #eff4fa;
  --color-box-shadow-toast: rgba(10, 3, 3, 0.15);
  --color-border-toast: rgba(11, 6, 6, 0.1);
  --color-bg-toast: rgba(255, 255, 255, 0.9);
  --color-border-auth: rgba(255, 255, 255, 0.1);
  --color-box-shadow-auth: rgba(8, 7, 16, 0.6);
  --color-sidebar-text: #696A72;
  --color-bg-sidebar: #f7f7fa;
  --color-border-search: #e5e5e5;
  --color-border-horizontal: #f2f2f2;
  --color-ads-link: #018273;
  --color-box-shadow-dropdown: rgba(0,0,0,0.2);
  --color-clear-search: #bfbbbb;
  --color-btn-confirm-cancel: #e2e8f0;
  --color-btn-add: #aeaeb3;
  --color-box-sadow: rgba(0, 0, 0, 0.04);
  --color-btn-group: #f7f7fa;
  --color-btn-group-text: #696a72;
  --color-bg-disable: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  --color-text-disable: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  --color-border-disable: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));

  /* font family */
  --font-primary: Abel, san-serif;

  /* font weight */
  --font-weight-regular: 400;

  /* font size */
  --font-size-tiny: 11px;
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-md: 14px;
  --font-size-lg: 15px;
  --font-size-xl: 16px;
  --font-size-2xl: 18px;
  --font-size-3xl: 22px;
  --font-size-4xl: 24px;

  /* border radius */
  --rounded-tiny: 3px;
  --rounded-xs: 4px;
  --rounded-sm: 8px;
  --rounded-md: 16px;
  --rounded-circle: 50%;

  /* Z Index */
  --z-index-sm: 1;
  --z-index-md: 10;
  --z-index-lg: 20;
  --z-index-xl: 60;

  /* width */
  --width-modal-content: calc(
    533 * 100% / 1440
  ); /* 533px is the width of the modal according to the design */
  --width-modal-content-md: calc(
    533 * 100% / 768
  ); /* 533px is the width of the modal according to the design on screen tablet */
  --width-sidebar-content: calc(300 * 100% / 1440); /* 300px is the width of the sidebar according to the design */
  --width-ads-section-lg: calc(1040 * 100% / 1440);
  --width-ads-section-xl: calc(1140 * 100% / 1440);  /* 1140px is the width of the ads section according to the design on screen desktop */

  /* Container */
  --container-width-md: 768px;
  --container-width-lg: 960px;
  --container-width-xl: 1140px;
  --container-width-2xl: 1320px;
  --container-width-3xl: 1660px;
}
